/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  min-height: 100vh;
  overflow: auto;
  background: linear-gradient(200.96deg,
      #fedc2a -29.09%,
      #dd5789 51.77%,
      #7a2c9e 129.35%);
  font-family: sans-serif;
  margin: 0;
}

.fakeFileInput {
  min-width: 210px;
  margin-right: 10px;
}

body .hidden {
  display: none;
}

.chartSettings {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-evenly;
}

.vRoot {
  width: 100%;
  height: 100%;

  min-height: 100vh;

}

.vMain {
  display: flex;
  flex: 1;
  min-height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.vSettings {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1600px;
  margin: 20px auto;
}

.colorPicCont {
  position: absolute;
  z-index: 1;
}

.vMainCont {
  width: 100%;
  max-width: 1600px;
}

#root {
  display: flex;
  flex: 1;
  min-height: 100vh;
}

.yAxis {
  color: red;
}

.label {
  padding: 0 10px;
}

button,
.button {
  color: black;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover,
.button:hover {
  transform: scale(1.05);
  opacity: 1;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}



.logo {
  display: block;
  width: 300px;
  height: auto;
  margin: 30px auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}